*{
    font-family: sans-serif;
}
.container{
    box-sizing: border-box;
    padding: 0;
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: whitesmoke;
    border-radius: 20px;
}
h1{
    color: white;
    font-weight: 700;
    font-size: 2.5em;
}
.info{
    margin-top: 50px;
    margin-right: 100px;
    font-family: sans-serif;
    color: white;
    text-align: start;
    padding-left: 150px;
    line-height: 1.5em;
    font-size: 1.3rem;
}

.info h1{
    font-weight: 700;
    margin-bottom: 30px;
    text-decoration: underline;
}
.info h3{
    font-style: italic;
    margin-bottom: 15px;
}
.infoContainer{
    background-color: lightslategray;
    margin: 40px 60px;
    border-radius: 17px;
}

