*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 1400px;
}
body{
    background-image: linear-gradient(to right, #00ff88, #61efff)
}
.container{
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    margin-top: 150px;
    margin-right: 100px;
    z-index: 1111111111;
    background: transparent;
}
.title{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: start;
    margin-bottom: 50px;
    color: white;
}

.img{
    width: 70%;
}


.button {
    padding: 15px 80px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 20px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .button:hover {
    color: #e8e8e8;
   }
   
   .button:hover::before {
    width: 100%;
   }